<div class="timer" id="timer-1">
  <div class="field">
    <span class="value" data-value="days">{{this.days}}</span>
    <span class="label">Days</span>
  </div>

  <div class="field">
    <span class="value" data-value="hours">{{this.hours}}</span>
    <span class="label">Hours</span>
  </div>

  <div class="field">
    <span class="value" data-value="mins">{{this.mins}}</span>
    <span class="label">Minutes</span>
  </div>

  <div class="field">
    <span class="value" data-value="secs">{{this.secs}}</span>
    <span class="label">Seconds</span>
  </div>
</div>